/* define */
    :root{
        --lightyellow: #E1D4B0;
        --lightgreen: #B6DA9F;
        --lightblue: #A9DDEC;
        --lightpurple: #B1A5C9;
        --blue: #2E86AB;
        --yellow:#FEDC4D;
        --black: #333333;
        --white: #FFFEF3;

        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: 0.4px;
    }

    h1{
        font-size: 2.5rem;
    }

    h2{
        font-size: 2rem;
    }

    @media only screen and (max-width: 647px) {
        h1{
            font-size: 1.5rem;
        }
    }

    .bold-xl{
        font-size: 1.5rem;
        font-weight: 700;
    }

    .bold-l{
        font-size: 1.25rem;
        font-weight: 700;
    }

    .bold-m{
        font-size: 1rem;
        font-weight: 700;
    }

    .regular-xl{
        font-size: 1.5rem;
        font-weight: 400;
    }

    .regular-x{
        font-size: 1.25rem;
        font-weight: 400;
    }

    .regular-m{
        font-size: 1rem;
        font-weight: 400;
    }

    .regular-s{
        font-size: 0.75rem;
        font-weight: 400;
    }

    a{
        text-decoration: none; 
    }


/* define end */

.nav-section{
    background-color: #FFFEF3 !important;
    padding-left: 5rem !important;
    padding-right: 5rem !important;
    border-bottom: 1px solid #BDBDBD;
}

    .nav-text{
        font-weight: 700;
    }



.seina-icon{
    min-width: 320px;
    height: auto;
}

.mingcute--right-fill {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23000' d='M16.06 10.94a1.5 1.5 0 0 1 0 2.12l-5.656 5.658a1.5 1.5 0 1 1-2.121-2.122L12.879 12L8.283 7.404a1.5 1.5 0 0 1 2.12-2.122l5.658 5.657Z'/%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: middle;
  }

.greeting-section{
    background-color: var(--lightyellow);
    padding: 5rem 7.5rem !important;
}

    .read-more{
        font-weight: 700;
        font-size: 1rem;
        color: var(--black);
    }

    .read-more:hover{
        color: #525252;
    }

.hackathon-section{
    background-color: var(--lightpurple);
    padding: 5rem 7.5rem !important;
}

.healthchecker-section{
    background-color: var(--lightgreen);
    padding: 5rem 7.5rem !important;
}

.hoshikaclinic-section{
    background-color: var(--lightblue);
    padding: 5rem 7.5rem !important;
}

footer{
    padding: 5rem 7.5rem;
}

.sns{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.material-symbols--mail {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20zm8-7l8-5V6l-8 5l-8-5v2z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

.ri--linkedin-fill {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M6.94 5a2 2 0 1 1-4-.002a2 2 0 0 1 4 .002M7 8.48H3V21h4zm6.32 0H9.34V21h3.94v-6.57c0-3.66 4.77-4 4.77 0V21H22v-7.93c0-6.17-7.06-5.94-8.72-2.91z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }